/* Variáveis */

:root {
    --amarelo1: #F7E8C2;
    --amarelo2: #E7CE9D;
    --amarelo3: #D8B87C;
    --amarelo4: #BF9765;
    --amarelo5: #D4AF37;
    --cinza: #888C94;
    --pretoClaro: #323232;
    --azulEscuro: #1D2232;
    --preto: #121212;
    --branco: #FEFEFE;
    --degradeAmarelo: linear-gradient(to right, #E3C263, #ECD58F, #C49B27);
    --degradeAzul: linear-gradient(to right, #1D2232, #121212);
    --h1Font: 'Montaga', serif;
    --fontFamily: 'Roboto', sans-serif;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{ 
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--amarelo1);
}

/* Configuração Global */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--branco);
    font-family: var(--fontFamily);
    padding-top: 60px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--pretoClaro);
}

button {
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
}

h1 {
    font-family: var(--h1Font);
    font-size: clamp(2rem, 5vw, 3rem); 
    font-weight: normal;
    color: var(--amarelo1);
    margin-bottom: 20px;
}

.topoSecoes {
    scroll-margin-top: 60px;
}

.secao {
    padding: 60px 20px;
}

.marginParaBaixo {
    margin-bottom: 15px;
}

.spanAmarelo {
    color: var(--amarelo1);
    font-weight: bold;
}

.spanAzul {
    color: var(--azulEscuro);
    font-weight: bold;
}

.fundoAzulDegrade {
    background: var(--degradeAzul);
}

.btnAmarelo {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    border-radius: 10px;
    background: var(--amarelo2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btnAmarelo:hover {
    background: var(--amarelo3);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transition: .3s;
    transform: translateY(-1px) scale(1.01); 
}

.btnAmarelo span {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--azulEscuro);
}

.btnAmarelo img {
    height: 30px;
    margin-left: 15px;
}

.separador {
    width: 100%;
    height: 5px;
    background: var(--degradeAmarelo);
}

/* CABEÇALHO */

#header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#logo img { 
    height: 30px; 
}

#menu {
    display: block;
    gap: .5rem;
    position: absolute;
    width: 100%;
    height: calc(100vh);
    top: 60px;
    right: 0px;
    background: var(--degradeAzul);
    z-index: 1000;
    visibility: hidden;
    clip-path: circle(0% at top right);
    transition: clip-path 0.6s ease-in-out, visibility 0s 0.6s;
}

#menu a {
    display: inline-block;
    font-size: 1.5em;
}

#btnMobile {
    cursor: pointer;
    display: flex;
    padding: .5rem 1rem;
    border: none;
    background: none;
}

#hamburguer {
    width: 20px;
    height: 2px;
    background: var(--amarelo1);
    display: block;
    position: relative;
    transition: background 0s 0s;
}
#hamburguer::before,
#hamburguer::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--amarelo1);
    display: block;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
#hamburguer::before {
    top: -7px;
}
#hamburguer::after {
    top: 7px;
}
#nav.active #hamburguer {
    background: transparent;
}
#nav.active #hamburguer::before {
    top: 0;
    transform: rotate(135deg);
}
#nav.active #hamburguer::after {
    top: 0;
    transform: rotate(-135deg);
}

#menu li {
    padding-left: 30px;
    padding-top: 30px;
}

#menu .separador {
    margin-bottom: 15px;
}

.navLink {
    display: inline-block;
    position: relative;
    color: var(--amarelo1);
    transition: color 0.8s ease-out;
}

.navLink:hover {
    background: var(--degradeAmarelo);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.navLink::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--degradeAmarelo);
    left: 0px;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    border-radius: 2px;
}

.navLink:hover::after {
    transform: scaleX(1);
}

#nav.active #menu { 
    visibility: visible;
    clip-path: circle(150% at top right);
    overflow-y: auto;
    transition: clip-path 0.6s ease-in-out, visibility 0s 0s;
}

/* Principal */

/** Seção Inicio **/

#inicio {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9),
        rgba(29, 34, 50, 0.9)
    ),
    url('../media/backgroungPredio.jpg');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}

#inicio p {
    color: var(--branco);
    margin-bottom: 20px;
}

/** Seção Sobre **/

#fotoPerfil {
    width: 100%;
    border-radius: 50px 10px;
    box-shadow: 5px 5px 0px 0px var(--amarelo3);
}

#sobreNos h1 {
    color: var(--azulEscuro);
    margin-top: 30px;
    margin-bottom: 20px;
}

#sobreNos div {
    margin-top: 20px;
}

.subtituloSobreNos {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.subtituloSobreNos h2 {
    font-size: 1em;
}

#sobreNos div img {
    height: 15px;
    margin-right: 10px;
}

.btnAmarelo {
    margin-top: 20px;
}

/** Seção Áreas de Atuação **/

#areasAtuacao {
    background: var(--degradeAzul);
}

#areasAtuacao p {
    color: var(--branco);
    margin-bottom: 20px;
}

.caixaAreas {
    display: block;
    background-color: var(--branco);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 0 var(--amarelo3);
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.caixaAreas:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 5px 5px 0 0 var(--amarelo5);
}

#areasAtuacao .caixaAreas p {
    color: var(--azulEscuro);
}

.divIconeTitulo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.caixaAreas h2 {
    color: var(--amarelo4);
    font-size: clamp(1.5rem, 5vw, 3rem); 
}

.iconeContainer {
    position: relative;
    width: 30px;
    height: 30px;
}

.iconeContainer img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s ease-in-out;
}

.caixaAreas .iconeWhatsapp {
    opacity: 0;
}

.caixaAreas:hover .iconeAdvocacia {
    opacity: 0;
}

.caixaAreas:hover .iconeWhatsapp {
    opacity: 1;
}

/* Rodapé */

/* Responsividade */