/* Variáveis */

:root {
    --amarelo1: #F7E8C2;
    --amarelo2: #E7CE9D;
    --amarelo3: #D8B87C;
    --amarelo4: #BF9765;
    --amarelo5: #D4AF37;
    --cinza: #888C94;
    --pretoClaro: #323232;
    --azulEscuro: #1D2232;
    --preto: #121212;
    --branco: #FEFEFE;
    --degradeAmarelo: linear-gradient(to right, #E3C263, #ECD58F, #C49B27);
    --degradeAzul: linear-gradient(to right, #1D2232, #121212);
    --h1Font: 'Montaga', serif;
    --fontFamily: 'Roboto', sans-serif;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{ 
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--amarelo1);
}

/* Configuração Global */

body {
    background: var(--branco);
    font-family: var(--fontFamily);
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--pretoClaro);
}

button {
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
}

.spanAmarelo {
    color: var(--amarelo1);
    font-weight: bold;
}

.spanAzul {
    color: var(--azulEscuro);
    font-weight: bold;
}

.fundoAzulDegrade {
    background: var(--degradeAzul);
}

/* Cabeçalho */

#header {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    justify-content: space-between;
}

#logo img { 
    height: 30px; 
}

#menu {
    display: flex;
    gap: .5rem;
}

#menu a {
    display: block;
}

#btnMobile {
    display: none;
    color: #888C94;
}

#btnMobile:hover{
    cursor: pointer;
    background-color: #C49B27;
}

/* Principal */


/* Rodapé */


/* Responsividade */

@media (max-width: 600px) {
    #btnMobile {
        display: block;
    }

    #menu {
        display: none;
    }
}