/* Variáveis */

:root {
    --amarelo1: #F7E8C2;
    --amarelo2: #E7CE9D;
    --amarelo3: #D8B87C;
    --amarelo4: #BF9765;
    --amarelo5: #D4AF37;
    --cinza: #888C94;
    --pretoClaro: #323232;
    --azulEscuro: #1D2232;
    --preto: #121212;
    --branco: #FEFEFE;
    --degradeAmarelo: linear-gradient(to right, #E3C263, #ECD58F, #C49B27);
    --degradeAzul: linear-gradient(to right, #1D2232, #121212);
    --h1Font: 'Montaga', serif;
    --fontFamily: 'Roboto', sans-serif;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{ 
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--amarelo1);
}

/* Configuração Global */

body {
    background: var(--branco);
    font-family: var(--fontFamily);
    padding-top: 63px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--pretoClaro);
}

button {
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
}

.spanAmarelo {
    color: var(--amarelo1);
    font-weight: bold;
}

.spanAzul {
    color: var(--azulEscuro);
    font-weight: bold;
}

.fundoAzulDegrade {
    background: var(--degradeAzul);
}

/* CABEÇALHO */

#header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

#logo img { 
    height: 30px; 
}

#menu {
    display: block;
    gap: .5rem;
    position: absolute;
    width: 100%;
    height: 0;
    top: 63px;
    right: 0px;
    background: var(--degradeAzul);
    z-index: 1000;
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden;
}

#menu a {
    display: inline-block;
    font-size: 1.5em;
}

#btnMobile {
    cursor: pointer;
    display: flex;
    padding: .5rem 1rem;
    border: none;
    background: none;
}

#hamburguer {
    width: 20px;
    border-top: 2px solid rgba(231, 206, 157, 1);
}

#hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    border-top: 2px solid rgba(231, 206, 157, 1);
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#nav.active #hamburguer {
    border-top-color: transparent;
}

#nav.active #hamburguer:before {
    transform: rotate(135deg);
}

#nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
}

#menu li {
    padding-left: 30px;
    padding-top: 20px;
}

.navLink {
    display: inline-block;
    position: relative;
    color: var(--amarelo1);
    transition: color 0.8s ease-out;
}

.navLink:hover {
    background: var(--degradeAmarelo);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.navLink::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--degradeAmarelo);
    left: 0px;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    border-radius: 2px;
}

.navLink:hover::after {
    transform: scaleX(1);
}

.separador {
    height: 3px;
    width: 100%;
    margin-bottom: 15px;
    background: var(--degradeAmarelo);
}

#nav.active #menu { 
    height: calc(100vh - 65px);
    visibility: visible;
    overflow-y: auto;
}

/* Principal */

/** Seção Inicio **/

#inicio {
    padding: 60px 15px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9),
        rgba(29, 34, 50, 0.9)
    ),
    url('../media/backgroungPredio.jpg');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}


/* Rodapé */

/* Responsividade */